.chatWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: chocolate;
    height:100%;
    width: calc(100% - 160px);
}
.formWrapper{
    display: flex;
    height: 7%;
    width: 100%;
}
.inputForm {
    height: 100%;
    width: 100%;
}
.inputForm input{
    height: 100%;
    width: 85%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 20px;
}
.inputForm button{
    height: 100%;
    width: 15%;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0;
}